@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');
*{
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #f4f4f9;
    color: #333;
}

.contenedor-general {
    width: 100%;
  height: 100%;
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

header {
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 300;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #333;
}

.menu ul li {
    margin: 0;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    transition: background-color 0.3s;
}

.menu ul li a:hover {
    background-color: #575757;
}

.contenido {
    display: flex;
    padding: 20px;
}

.contenido-principal {
    width: 70%;
    padding-right: 20px;
}

.cuadricula {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.caja {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.barra-lateral {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-image: url('RH.jpg.crdownload');
    width: 30%;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
